[submodule "bats-core"]
	path = test/bats/modules/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "bats-support"]
	path = test/bats/modules/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "bats-assert"]
	path = test/bats/modules/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "bats-file"]
	path = test/bats/modules/bats-file
	url = https://github.com/bats-core/bats-file.git
[submodule "bats-mock"]
	path = test/bats/modules/bats-mock
	url = https://github.com/grayhemp/bats-mock.git